<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>
            {{ message }}
        </p>
        <input type="text" v-model="message"></input>
        <button v-on:click="clickhandler">CLICK!</button>
        <hr>
        <a v-if="toggle" v-bind:href="url">Vue公式</a>
        <hr>
        <ul>
            <li v-for="lang in langs">{{ lang }}</li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'hello World!',
                url: 'https://jp.vuejs.org/',
                toggle: true,
                langs: ['js', 'ruby', 'python']
            },
            methods: {
                clickhandler: function () {
                    this.message = 'Clicked!'
                }
            }
        })
    </script>
</body>

</html>